{% if item.is_active %}
    <td>
        <li>{{item.name}}</li>
    </td>
    <td align="left">
        {% include "./buttons.html" with type="item" id=item.id %}
        {% include "./active.html" with checkbox_type="Item" checkbox_id=item.id active=item.is_active %}
        {% include "./quantity.html" with id=item.id value=item.quantity %}
    </td>
{% else %}
    <td>
        <li><s>{{item.name}}</s></li>
    </td>
    <td align="left">
        {% include "./buttons.html" with type="item" id=item.id %}
        {% include "./active.html" with checkbox_type="Item" checkbox_id=item.id active=item.is_active %}
        {% include "./quantity.html" with id=item.id value=item.quantity %}
    </td>
{% endif %}