<table style="width:100%">
    <tr>
        <td colspan="2">
            <button id="save_button" disabled onclick="save_button_click(this)">{{local.6}}</button>
        </td>
        <td style="text-align: right">
            <button id="delete_button" disabled onclick="delete_button_click(this)">{{local.1}}</button>
        </td>
    </tr>
</table>

<script>

    function item_select(obj) {

        if (obj.value == "new_item") {
            
            document.getElementById("item_name").value = '';
            document.getElementById("item_description").value = '';
            document.getElementById("item_price").value = '';
            document.getElementById("item_photo").value = '';
            document.getElementById("item_image").src = '#';
            document.getElementById("item_group").value = '';
            document.getElementById("item_qrcode").src = '#';
            document.getElementById("item_active").checked = false;
            check_save_button();
            check_delete_button();
        
        } else {

            url_string = window.location.origin + "/get_obj/Item/" + "{'id': " + obj.value + "}";
            $.getJSON(url_string, function(data, jqXHR){

                //url_string = window.location.origin + "/get_obj/Group/" + "{'group_id': " + data[0].fields.group + "}";
                //$.getJSON(url_string, function(data, jqXHR){ 
                //    document.getElementById("item_group").value = data[0].fields.name;
                //});

                url_string = window.location.origin + "/get_obj/QRCode/" + "{'id': " +data[0].fields.qrcode_id + "}";
                $.getJSON(url_string, function(data, jqXHR){
                    document.getElementById("item_qrcode").src = data[0].fields.image_path;
                });

                document.getElementById("item_name").value = data[0].fields.name;
                document.getElementById("item_name").disabled = data[0].fields.name;

                document.getElementById("item_description").value = data[0].fields.description;
                document.getElementById("item_price").value = data[0].fields.price;
                document.getElementById("item_image").src = data[0].fields.image_path;
                document.getElementById("item_active").checked = data[0].fields.is_active;
            });

            check_save_button();
            check_delete_button();
        }
    }

    function check_save_button() {
        if (document.getElementById("item_name").value != "" && document.getElementById("item_price").value != "") {
            document.getElementById("save_button").disabled = false;
        } else {
            document.getElementById("save_button").disabled = true;
        }
    }

    function check_delete_button() {
        if (document.getElementById("items_id").value != "new_item") {
            document.getElementById("delete_button").disabled = false;
        } else {
            document.getElementById("delete_button").disabled = true;
        }
    }

    function save_button_click(button) {
        if (document.getElementById("items_id").value == "new_item")
        {
            var new_item_data = new FormData();
            new_item_data.append('csrfmiddlewaretoken', getCookie('csrftoken'));
            new_item_data.append('name', document.getElementById("item_name").value);
            new_item_data.append('description', document.getElementById("item_description").value);
            new_item_data.append('price', document.getElementById("item_price").value);
            new_item_data.append('image', document.getElementById("item_photo").files[0]);
            new_item_data.append('group_id', document.getElementById("item_group").value);
            edit_item_data.append('is_active', document.getElementById("item_active").checked === true?"True":"False");
            
            $.ajax({
            url: window.location.origin + '/new_item',
            type: 'POST',
            processData: false, // important
            contentType: false, // important
            dataType : 'json',
            data: new_item_data,
            });

            document.getElementById("items_id").value = "new_item";
            item_select(document.getElementById("items_id"));
        
        } else {

            var edit_item_data = new FormData();
            edit_item_data.append('csrfmiddlewaretoken', getCookie('csrftoken'));
            edit_item_data.append('name', document.getElementById("item_name").value);
            edit_item_data.append('description', document.getElementById("item_description").value);
            edit_item_data.append('price', document.getElementById("item_price").value);
            edit_item_data.append('image', document.getElementById("item_photo").files[0]);
            edit_item_data.append('group_id', document.getElementById("item_group").value);
            edit_item_data.append('is_active', document.getElementById("item_active").checked === true?"True":"False");

            $.ajax({
            url: window.location.origin + '/edit_item',
            type: 'POST',
            processData: false, // important
            contentType: false, // important
            dataType : 'json',
            data: edit_item_data,
            });

            document.getElementById("items_id").value = "new_item";
            item_select(document.getElementById("items_id"));
        }
    }

    function delete_button_click(button) {
        
        var delete_item_data = new FormData();
        delete_item_data.append('csrfmiddlewaretoken', getCookie('csrftoken'));
        delete_item_data.append('name', document.getElementById("item_name").value);

        $.ajax({
            url: window.location.origin + '/delete_item',
            type: 'POST',
            processData: false, // important
            contentType: false, // important
            dataType : 'json',
            data: delete_item_data,
            });

        document.getElementById("items_id").value = "new_item";
        item_select(document.getElementById("items_id"));
    }
</script>