{% load get_order_items %}

{% for order in allOrders reversed %}
    {% if order.status == "Готується" %}

        {% include "voleybotapp/ordercontrolbuttons.html" with orderID=order.id orderEr=order.orderEr %}
        {% include "voleybotapp/ordererform.html" with orderEr=order.orderEr orderID=order.id %}
        {% include "voleybotapp/orderitemsform.html" with orderItems=order|get_order_items %}
        {% include "voleybotapp/orderpriceform.html" with orderTotal=order.cart.currentTotal %}
        <hr>

    {% endif %}
{% endfor %}