<form>
    <table>
        <tr>
            {% include "./name.html" %}
        </tr>
        <tr>
            {% include "./description.html" %}
        </tr>
        <tr>
            {% include "./price.html" %}
        </tr>
        <tr>
            {% include "./photo.html" %}
        </tr>
        <tr>
            {% include "./group.html" %}
        </tr>
        <tr>
            {% include "./qrcode.html" %}
        </tr>
        <tr>
            {% include "./active.html" %}
        </tr>
    </table>
</form>
<hr>