<table>
    <tr>
        <td>
            <h4 name="order-id"></h4>
        </td>
        <td>
            <h4># {{order.id}}</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4 name="order-name"></h4>
        </td>
        <td>
            <p>{{order_info.first_name}}</p>
            <p>{{order_info.last_name}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <h4 name="order-datetime"></h4>
        </td>
        <td>
            <p>{{order.datetime}}</p>
        </td>
    </tr>
</table>
