<tr>
    <td>{{itemName}}</td>
    <td>{{itemDescription}}</td>
    <td>{{itemPrice}}</td>
    <td>
        {% load static %}
        <img src="{% static itemScanCode %}" alt="Item QRCode">
    </td>
    {% if itemActive %}
        <td><input type="checkbox" onclick="document.location.href='items/changestatus/{{itemID}}'" checked></td>
    {% else %}
        <td><input type="checkbox" onclick="document.location.href='items/changestatus/{{itemID}}'"></td>
    {% endif %}
    <td>
        <button type="button" onclick="document.location.href='/items/delete/{{itemID}}'">Удалить товар</button>
    </td>
</tr>