<html>
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function getCookie(name) {
                var dc = document.cookie;
                var prefix = name + "=";
                var begin = dc.indexOf("; " + prefix);
                if (begin == -1) {
                    begin = dc.indexOf(prefix);
                    if (begin != 0) return null;
                }
                else
                {
                    begin += 2;
                    var end = document.cookie.indexOf(";", begin);
                    if (end == -1) {
                    end = dc.length;
                    }
                }
                // because unescape has been deprecated, replaced with decodeURI
                //return unescape(dc.substring(begin + prefix.length, end));
                return decodeURI(dc.substring(begin + prefix.length, end));
            }

            function language_change(page) {

                var language_code = document.getElementById("languages_id").value;

                url_string = window.location.origin + "/get_text/" + language_code;
                $.getJSON(url_string, function(data, jqXHR){ 
                    
                    document.getElementById("orders").innerText=data[2].fields.text;
                    document.getElementById("items").innerText = data[3].fields.text;
                    document.getElementById("menu").innerText = data[4].fields.text;

                    try {
                    document.getElementById("new_item").innerText = data[5].fields.text;
                    document.getElementById("name_string").innerText = data[7].fields.text;
                    document.getElementById("description_string").innerText = data[8].fields.text;
                    document.getElementById("price_string").innerText = data[9].fields.text;
                    document.getElementById("photo_string").innerText = data[10].fields.text;
                    document.getElementById("group_string").innerText = data[11].fields.text;
                    document.getElementById("qrcode_string").innerText = data[12].fields.text;
                    document.getElementById("save_button").innerText = data[6].fields.text;
                    document.getElementById("delete_button").innerText = data[14].fields.text;
                    } catch(e) {console.log(e)};
                    
                    try {
                        document.getElementById("new_group").innerText = data[15].fields.text;
                        document.getElementById("group_name").value = data[16].fields.text;
                        document.getElementById("save_button").innerText = data[6].fields.text;
                        document.getElementById("delete_button").innerText = data[17].fields.text;
                    } catch(e) {console.log(e)};
                    
                    try{
                        names = document.getElementsByName("order-name");
                        datetimes = document.getElementsByName("order-datetime")
                        totals = document.getElementsByName("total_text");
                        ready_buttons = document.getElementsByName("button_ready");
                        cancel_buttons = document.getElementsByName("button_cancel");
                        for (i=0; i < names.length; i++) {
                            names[i].innerText = data[44].fields.text
                            totals[i].innerText = data[43].fields.text
                            datetimes[i].innerText = data[45].fields.text
                            ready_buttons[i].innerText = data[46].fields.text
                            cancel_buttons[i].innerText = data[47].fields.text
                        }
                                            } catch(e) {console.log(e)}

                }
                );                
            }

            function auto_update_orders(){
                
                try {
                        if (order_update_timer) {
                            clearTimeout(order_update_timer);
                            order_update_timer = null;
                        }        
                    } catch(e) {console.log(e)};

                if (window.location.pathname == "/orders") 
                        {var order_update_timer = setTimeout( 'location="/orders";', 30000 );}
            }

            function load_function() {

                language_change("None");
                auto_update_orders();
                
                try{
                    document.getElementById("items_id").value = "new_item";
                    document.getElementById("new_item").selected = true;
                    item_select(document.getElementById("items_id"))
                } catch(e) {console.log(e)};

                try{
                    document.getElementById("group_select").value = "new_group";
                    document.getElementById("new_group").selected = true;
                    group_select(document.getElementById("group_select"))
                } catch(e) {console.log(e)};

            }

            function reload_page() {
                document.location.href = document.location.href;
            }      

        </script>
    </head>
    
    <body onload="load_function()">
        {% include "header.html" with languages=languages language_code=language_code%}
        {% if page == "items" %}
            {% include "./items/page.html" with items=items %}
        {% elif page == "menu" %}
            {% include "./menu/page.html" %}
        {% elif page == "orders" %}
            {% include "./orders/page.html" with orders=orders %}
        {% endif %}
    </body>
</html>